.App {
  text-align: center;
  background-color: rgb(224, 219, 219);
  border: solid, black, 10px;
  width:100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.name{
  background-color: aqua;
  border-radius: 2em ;
}

.race{
  background-color: red;
  border-radius: 2em ;
}

.age{
  background-color: antiquewhite;
  border-radius: 2em ;
}

.planet{
  background-color: greenyellow;
  border-radius: 2em ;
}

.hair_color {
  background-color: yellow;
  border-radius: 2em ;
}

.name_component{

  color : rebeccapurple;
  font-size: 24px;
  /* background: #f4f4f4; */
  border-radius: 2em ;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
